body {
  background-color: white;
  font-family: Arial, sans-serif;
}

h1 {
  color: red;
  text-align: center;
}

h2
{
  color: red;
  text-align: left;
}

h3
{
  color: grey;
  text-align: center;
  font-size: 64px;
}

button {
  padding: 10px 20px;
  background: navy;
  color: white;
  border: none;
  cursor: pointer;
}
